<div style="margin-bottom: 5px;">
  <input [formControl]="ctrl" id="ctrl" style="width: 40%;" type="text" placeholder="Search by Title" />&nbsp;
  <button (click)="search()">Search</button>
</div>
<div *ngIf="showSpinner()" class="ring-spinner"></div>
<table *ngIf="!(showSpinner())"  class="data-table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>URL</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of pageData;let i=index">
      <tr>
        
        <td>{{item.id}}</td>
        <td><a  href="#" (click)="openDetailsInNewTab(item)"> {{item.title}}</a></td>
        <td>{{item.url}}</td>
      </tr>
    </ng-container>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3"> 
           <pagination class="pge" style="float: right;" [data]="data" (pageData)="onPageDataChange($event)" 
           [pageSizeOptions]="pageSizeOptions" [pageNumber]="pageNumber" [pageSize]="pageSize">

           </pagination>
        </td>
      </tr>
    </tfoot>
  </table>